* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(11, 11, 45);
    font-family: Inter, sans-serif;
}

.wrapper {
    max-width: 1000px;
    min-height: 100%;
    /* background: red; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6.25rem 10rem 1fr 3.25rem;
    position: relative;
}

/* BLOCKS */

header {
    background-image: url(../img/logo/bonz.ai-logo-color-landscape.png);
    background-repeat: no-repeat;
    background-size: clamp(150px, 50%, 200px);
    background-position: 0.8rem 1.6rem;
    background-color: rgb(11, 11, 45);
    width: 100%;
    height: 6.25rem;
    border-bottom: 2px solid #54E9BC;
    position: fixed;
    z-index: 2;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    /* grid-area: header; */
}

nav {
    width: 100%;
    padding: 0rem;
    /* background: red; */
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    z-index: 2;
    overflow: hidden;
}


main {
    padding: 1rem;
    /* transform: translate(0, 200px); */
    /* grid-area: main; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

footer {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

/* NAVIGATION */

.nav__background {
    background-image: url(../img/photos/04-night.jpg);
    background-repeat: no-repeat;
    background-size: clamp(150px, 100%, 1000px);
    /* background-size: cover; */
    background-position-y: -10px;
    background-position-x: center;
    width: 100%;
    height: 20%;
    opacity: 0.3;
    z-index: 2;
    position: fixed;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.nav__background--about {
    background-image: url(../img/photos/04-night.jpg);
    background-repeat: no-repeat;
    background-size: clamp(150px, 100%, 1000px);
    /* background-size: cover; */
    background-position-y: -10px;
    background-position-x: center;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -2;
    position: relative;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}



nav ul {
    transform: translate(-100%, 0);
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    /* background: #08071F; */
    /* background: rgb(11, 11, 45 / 1); */

    z-index: 3;
    position: fixed;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;

}
li {
    margin: 0;
}

.checkbox {
    position: fixed;
    width: 40px;
    height: 40px;
    margin: 0;
    right: 1.5rem;
    top: 1.5rem;
    opacity: 0;
    z-index: 5;
}
.checkbox:checked ~ ul {
    /* transform: translate(0, 100px); */
    /* padding-top: 30px; */
    transform: none;
    opacity: 1;

}

.checkbox:hover {
    cursor: pointer;
}
.hamburger-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 1.5rem;
    top: 1.5rem;
    /* background: red; */
    color: #54E9BC;
}
hr {
    border: 2px solid #54E9BC;
    border-radius: 50px;
}

  
  

/* TEXT */

nav a {
    color: #fff;
    min-width: 100%;
    max-height: 3.5rem;
    text-decoration: none;
    padding: 0.7rem;
    font-size: 1.6rem;
    z-index: 2;
    background: rgb(11, 11, 45);
    display: block;
    margin: 0;
}

nav a:hover {
    /* text-decoration: underline; */
    color: #54E9BC;
    
} 
nav a:active {
    color: #fff;
} 
.a--current {
    color: #54E9BC;
}
.a--current:hover {
    cursor: default;
}


h1 {
    color: #54E9BC;
    color: #fff;
    text-align: center;
    font-weight: 400;
    letter-spacing: 12%;
    cursor: default;
}



p {
    color: rgb(226, 225, 225);
    line-height: 1.5rem;
    background: rgb(0 0 0 / 0.2);
    padding: 1rem;
    max-width: 35rem;;
}



h2, h3 {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.search-result__info h3 {
    text-align: left;
    color: black;
    margin: 0;
    border-bottom: 5px dotted #54E9BC;
    padding-bottom: 0.15rem;
    width: fit-content;
}
.search-result__info p {
    color: black;
    background: transparent;
    margin: 0;
}
.search-result__info h4 {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.search-results__text {
    position: absolute;
    left: -0.75rem;
    top: -3rem;
    background: transparent;
}

/* SECTIONS */

.about__included {
    border: solid 2px #54E9BC;
    background: rgb(0 0 0 / 0.2);
    width: 100%;
    max-width: 35rem;;
}

.about__included li {
    color: white;
    width: 100%;
    margin: 0.2rem 0;
}

.about__gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.search__form {
    min-width: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    border-bottom: 2px solid white;
    margin-bottom: 2rem;
}

.search-results {
    min-width: 100%;
    min-height: fit-content;
    
    /* border: 1px solid red; */
}

.search-results > ul {
    list-style: none;
    padding: 1rem 0 0 0;
    margin: 0;
    /* background: red; */
    width: 100%;
    min-height: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: space-evenly; */
    gap: 2.5rem 1rem;
    position: relative;
}
/* .search-results > ul > li {
    width: 100%;
    height: 100%;
} */

/* SEARCH RESULT / ARTICLE  */

.search-result {
    width: 100%;
    max-width: 350px;
    height: 100%;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    /* background: yellow; */
}

.search-result__images {
    min-height: 34%;
    width: 100%;
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; */
    position: relative;
    overflow: hidden;

}

.search-result__info {
    min-height: 66%;
    width: 100%;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.search-result__features {
    /* min-height: 10rem; */
    max-height: 8rem;
    font-size: 0.8rem;
    background: rgb(11 11 45 / 0.2);
    border-radius: 5px;
    padding: 0.2rem;
    gap: 0.1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}
.search-result__features li {
    padding: 0.1rem 0.3rem;
    margin: 0.1rem 0.3rem;
    background: white;
    color: rgb(11, 11, 45);
    border-radius: 50px;
    align-self: center;
    border: 1px solid rgb(11, 11, 45);
    cursor: default;
    box-shadow: 1px 1px 80px rgb(0 0 0 / 0.15);
}
.search-result__btn-container {
    margin-top: 1.7rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.search-result__btn {
    width: 10rem;
    max-width: 48%;
    border-radius: 5px;
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    padding: 0.4rem 0;
    border: none;
    color: white;
    background: rgb(11, 11, 45);
    border: 1px solid rgb(11, 11, 45);
    cursor: pointer;
}

.search-result__btn--share {
    background: white;
    color:rgb(11, 11, 45);
}

.search-result__logo {
    height: auto;
    width: 1.7rem;
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
}

.search-result__stars-container {
    width: 6rem;
    height: 1.5rem;
    padding: 0.5rem;
    border-radius: 50px;
    background: rgb(11 11 45 / 0.65);
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.fa-star {
  transform: scale(0.75);
}

.fa-star--checked {
    color: goldenrod;
}


/* FORM */


form label {
    color: white;
    display: flex;
    flex-flow: column nowrap;
}

input[type="date"] {
    font-family: Inter;
    border: none;
}

form input, form select {
    height: 2rem;
    margin-top: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;;

}

.search-button {
    font-family: Inter, sans-serif;
    background: #54E9BC;
    color: #fff;
    font-size: 1.8rem;
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 0.7rem 0.1rem;;
    margin: 1.3rem 0;
    min-width: 95%;
}
.search-button:hover {
    cursor: pointer;
    color: rgb(11, 11, 45);
    background: #fff;
    border: 3px solid #fff;

}


/* IMAGES */

.main__logo {
    width: 50%;
    min-width: 15rem;
    max-width: 18rem;
    
}

.about__photo {
    width: 100%;
    height: auto;
}

.about__photo-container {
    min-width: 15rem;
    max-width: 400px;
    height: auto;
    border: solid 2px rgb(6, 6, 25);

}

.search-result__images img {
    max-width: 100%;
    height: auto;
}