* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(11, 11, 45);
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
}

.wrapper {
    min-height: 100%;
    /* background: red; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6.25rem 10rem 1fr 3.25rem;
    position: relative;
    width: 100%;
    max-width: 1000px;
}

/* BLOCKS */

header {
    
    background-color: rgb(11, 11, 45); 
    width: 100%;
    min-height: 6.25rem;
    border-bottom: 2px solid #54E9BC;
    position: fixed;
    z-index: 2;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 20px rgb(90 232 188 / 0.6);
}



nav {
    width: 100%;
    padding: 0rem;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    z-index: 2;
    overflow: hidden;
}


main {
    padding: 1rem;
    /* padding-top: 6.5rem;; */
    /* transform: translate(0, 200px); */
    /* grid-area: main; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}
.main--about-us, .main--search, main {
    margin-top: -5rem;
}

footer {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(180deg, rgb(11, 11, 45), rgb(3, 3, 12)); */
    /* width: 100vw; */
    overflow: hidden;
}

.footer__socials {
    height: 90%;
    max-width: 15rem;
    min-width: 10rem;
    /* border: 1px solid #54E9BC; */
    
}
.footer__socials ul {
    list-style: none;
    /* padding-left: 2rem; */
    display: flex;
    justify-content: space-evenly;
    padding: 0;

}

.footer__socials i {
    color: #54E9BC;
    transform: scale(1.8);
}
.footer__socials i:hover {
    color: #fff;
}
.footer__location {
    margin-left: 1.4rem;
    display: flex;
}

.footer__location > i {
    color: #54E9BC;
    transform: scale(1.8) translate(-0.4rem, 1.05rem);
    
}
/* NAVIGATION */

/* .nav__background {
    background-image: url(../img/photos/04-night.jpg);
    background-repeat: no-repeat;
    background-size: clamp(150px, 100%, 1000px);
    background-size: cover;
    background-position-y: -10px;
    background-position-x: center;
    width: 100%;
    height: 20%;
    opacity: 0.3;
    z-index: 2;
    position: fixed;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
} */

.header__background {
    background-image: url(../img/photos/04-night.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-size: contain; */
    background-position-y: -40px;
    background-position-x: center;
    width: 100%;
    height: 6.25rem;
    opacity: 0.2;
    z-index: -1;
    position: absolute;
    bottom: 0;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

}



nav ul {
    transform: translate(-100%, 0);
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    /* background: #08071F; */
    background: rgb(11, 11, 45);

    z-index: 3;
    position: fixed;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;

}
li {
    margin: 0;
}

.checkbox {
    position: fixed;
    width: 40px;
    height: 40px;
    margin: 0;
    right: 1.5rem;
    top: 1.5rem;
    opacity: 0;
    z-index: 5;
}
.checkbox:checked ~ ul {
    /* transform: translate(0, 100px); */
    /* padding-top: 30px; */
    transform: none;
    opacity: 1;

}

.checkbox:hover {
    cursor: pointer;
}
.hamburger-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 1.5rem;
    top: 1.5rem;
    /* background: red; */
    color: #54E9BC;
}

hr {
    border: 2px solid #54E9BC;
    border-radius: 50px;
}

  
  

/* TEXT */

nav a {
    color: #fff;
    min-width: 100%;
    max-height: 3.5rem;
    text-decoration: none;
    padding: 0.7rem;
    font-size: 1.6rem;
    z-index: 2;
    background: rgb(11, 11, 45);
    display: block;
    margin: 0;
}

nav a:hover {
    /* text-decoration: underline; */
    color: #54E9BC;
    
} 
nav a:active {
    color: #fff;
} 
.a--current {
    color: #54E9BC;
}
.a--current:hover {
    cursor: default;
}


h1 {
    color: #54E9BC;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 12%;
    cursor: default;
}



p {
    color: rgb(226, 225, 225);
    line-height: 1.5rem;
    background: rgb(0 0 0 / 0.2);
    padding: 1rem;
    max-width: 35rem;;
}

.footer__p {
    margin: 0;
    padding: 0.5rem;
    font-size: 0.75rem;
    color: white;
    letter-spacing: -0.5px;
    line-height: 1rem;;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #54E9BC;
    box-shadow: 1px 1px 10px rgb(90 232 188 / 0.3);

    /* margin-left: 0.7rem; */
}



h2, h3 {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.search-result__info h3 {
    text-align: left;
    color: black;
    margin: 0;
    border-bottom: 5px dotted #54E9BC;
    padding-bottom: 0.15rem;
    width: fit-content;
}
.search-result__info p {
    color: black;
    background: transparent;
    margin: 0;
}
.search-result__info h4 {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.search-results__text {
    position: absolute;
    left: -0.75rem;
    top: -2rem;
    background: transparent;
    margin: 0;
}

/* SECTIONS */

.about__included {
    border: solid 2px #54E9BC;
    background: rgb(0 0 0 / 0.2);
    width: 100%;
    max-width: 35rem;;
    box-shadow: 2px 2px 20px rgb(90 232 188 / 0.6);
}
.included__list {
    padding-left: 1rem;
}

.about__included i {
    margin-right: 0.8rem;
}

.about__included li {
    color: white;
    width: 100%;
    margin: 0.4rem 0;
    list-style: none;
}

.about__info {
    /* min-width: 375px; */
    max-width: 450px;
    /* margin-right: 1rem; */
}

.about__gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.search__form {
    min-width: 320px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    border-bottom: 2px solid white;
    margin-bottom: 2rem;
}

.search-results {
    min-width: 100%;
    min-height: fit-content;
    
    /* border: 1px solid red; */
}

.search-results > ul {
    list-style: none;
    padding: 1rem 0 0 0;
    margin: 0;
    /* background: red; */
    width: 100%;
    min-height: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: space-evenly; */
    gap: 4.5rem 1rem;
    position: relative;
}

.search-results > ul li {
    max-height: 570px;
}

.search-results__divider {
    border: 1px solid #fff;
    /* transform: rotate(90deg); */
    /* position: absolute; */
    /* bottom: -18.4rem;
    left: 6rem; */
    z-index: 2;
    margin-top: 2.2rem;
    width: 80%;
}

.search-results ul li:last-child hr {
    border-color: transparent;

}
/* .search-results > ul > li {
    width: 100%;
    height: 100%;
} */

/* SEARCH RESULT / ARTICLE  */

.search-result {
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    height: 100%;
    background: rgb(240, 240, 240);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 5px 5px 20px rgb(0 0 0 / 0.7);

    position: relative;
    /* background: yellow; */
}

.search-result__images {
    min-height: 34%;
    width: 100%;
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; */
    position: relative;
    overflow: hidden;

}
.search-result__images img:nth-child(1) {
    height: 120%;
    transform: translateY(-1.5rem);
}

.search-result__info {
    max-height: 23rem;
    min-height: 21.5rem;
    width: 95%;
    padding: 1rem;
    margin: 1rem 0 0 0;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /* justify-content: space-between; */
    border: 1px solid rgb(11, 11, 45);
    border-radius: 8px;
}
.search-result__features {
    /* min-height: 10rem; */
    max-height: 8rem;
    font-size: 0.8rem;
    background: rgb(11 11 45 / 0.2);
    border-radius: 5px;
    padding: 0.2rem;
    gap: 0.1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}
.search-result__features li {
    padding: 0.1rem 0.3rem;
    margin: 0.1rem 0.3rem;
    background: white;
    color: rgb(11, 11, 45);
    border-radius: 50px;
    align-self: center;
    border: 1px solid rgb(11, 11, 45);
    cursor: default;
    box-shadow: 1px 1px 80px rgb(0 0 0 / 0.15);
}
.search-result__btn-container {
    margin-top: 1.7rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.search-result__btn {
    width: 10rem;
    max-width: 48%;
    border-radius: 5px;
    font-family: Inter, sans-serif;
    font-size: 1.25rem;
    padding: 0.4rem 0;
    border: none;
    color: white;
    background: rgb(11, 11, 45);
    border: 1px solid rgb(11, 11, 45);
    cursor: pointer;
    box-shadow: 1px 1px 20px rgb(0 0 0 / 0.2);
}

.search-result__btn--share {
    background: white;
    color:rgb(11, 11, 45);
}

.search-result__logo {
    height: auto;
    width: 1.7rem;
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
}

.search-result__stars-container {
    width: 6rem;
    height: 1.5rem;
    padding: 0.5rem;
    border-radius: 50px;
    background: rgb(11 11 45 / 0.65);
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.fa-star {
  transform: scale(0.75);
}

.fa-star--checked {
    color: goldenrod;
}


/* FORM */


form label {
    color: white;
    display: flex;
    flex-flow: column nowrap;
}

input[type="date"] {
    font-family: Inter;
    border: none;
    max-width: 8rem;
    font-size: 0.9rem;
}

form input, form select {
    height: 2rem;
    margin-top: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;;
    background: rgb(240, 240, 240);
    border-radius: 2px;


}
form select {
    /* background: green; */
    font-size: 0.9rem; 

}

form input:focus, form select:focus {
    outline: 1px solid #54E9BC;
}



.search-button {
    font-family: Inter, sans-serif;
    background: #54E9BC;
    color: rgb(11, 11, 45);
    font-size: 1.8rem;
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 0.7rem 0.1rem;;
    margin: 1.3rem 0;
    min-width: 95%;

}
.search-button:hover {
    cursor: pointer;
    color: #fff;
    box-shadow: 2px 2px 30px rgb(90 232 188 / 0.3);

    /* background: #fff; */
    /* border: 3px solid #fff; */

}


/* IMAGES */

.header__logo {
    width: clamp(150px, 50%, 200px);
    padding:0 0 0 0.8rem ;
}

.main__logo {
    width: 50%;
    min-width: 15rem;
    max-width: 18rem;
    
}


.about__photo {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 0.6);
}

.about__photo-container {
    min-width: 15rem;
    max-width: 400px;
    height: auto;

}

.search-result__images img {
    max-width: 100%;
    height: auto;
}


/* MEDIA QUERIES */

@media screen and (min-width: 680px) and (max-width: 999px) {
    .search-results ul li:nth-last-child(2) hr {
        border-color: transparent;
    }
    .header__background {
        background-position-y: -9.5rem;
    }
}


@media screen and (min-width: 1000px) {

    .wrapper {
        min-height: 100%;
        /* background: red; */
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 9.25rem 3rem 1fr 3.25rem;
        position: relative;
        }
        
    header {
        min-height: 9.25rem;
        position: unset;
    }

    .header__logo {
        width: clamp(9.375rem, 50%, 15.625rem);
        padding:0 0 0 0.8rem ;
    }
    .header__background {
        background-position-y: -11.5rem;
        height: 9.25rem;
    }
    .hamburger-icon {
        display: none;
    }
    .checkbox {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        z-index: 1;
    }
    nav > ul {
        transform: none;
        flex-flow: row nowrap;
        max-width: 800px;
        position: absolute;

    }
    nav a {
        font-size: 1.1rem;

    }

    main {
        justify-content: center;
    }
    .main--about-us, .main--search {
        margin-top: 0;
    }

    .main--about-us {
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;

        /* padding-top: 7rem; */
        /* padding: 0 50px; */
    }

    .about__photo-container {
        width: 100%;
        max-width: 95%;
    }

    .about__gallery {
        max-width:1000px;
        /* align-self: center; */
        padding-top: 5.8rem;

    }

    .about__info {
        min-width: 375px;
        max-width: 400px;
        margin-right: 1rem;
    }



    .search-results > ul {
        flex-flow: column wrap;
        align-items: center;
    }

    .search-result {
        width: 100%;
        max-width: 320px;
        min-width: 920px;
        max-height: 385px;
        height: 100%;
        background: white;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;

        overflow: hidden;
        /* background: yellow; */
    }
    
    .search-result__images {
        max-height: 100%;
        min-width: 60%;
        /* display: flex;
        flex-flow: row nowrap;
        justify-content: space-around; */
        position: relative;
        overflow: hidden;
    
    }

    
    .search-result__images img:nth-child(1) {
        height: auto;
        min-width: 125%;
        transform: translate(-4.5rem, 0rem);
    }
    
    .search-result__info {
        /* min-height: 370px; */
        width: 100%;
        padding: 1rem;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        border: none;
    }
    .search-result__features {
        /* min-height: 10rem; */
        max-height: 8rem;
        font-size: 0.8rem;
        background: rgb(11 11 45 / 0.2);
        border-radius: 5px;
        padding: 0.2rem;
        gap: 0.1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        list-style: none;
    }

    .search-results__divider {
        margin-top: 4.8rem;
    }

    .about__info p {
        margin: 3rem;
        min-width: 80%;
    }
}